.card {
    border-radius: 8px;
    background-color: #d8e3f2;
    align-self: center;
    display: flex;
    flex-direction: row;
    height: 251px;
    width: 405px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding-left: 10px;
}

.cardTitle {
    width: 80px;
    height: 24px;
    border-radius: 29px;
    background: #eeff018e;
    text-align: center;
    justify-content: center;
    padding: 4px;
    font-size: 15px;
}

.divCardDescription {
    height: 72px;
    width: 184px;
}

.cardDescription {
    font-size: 39px;
}

.cardBtn {
    margin-top: 20px;
    color: #c92071;
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 7vh;
    width: 12vw;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cardBtn:hover {
    color: white;
    background-color: #c92071;
}

#card1 {
    background-image: url(../../assets/CamisetaStarwars.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  #card2 {
    background-image: url(../../assets/BlackSneakers.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  #card3 {
    background-image: url(../../assets/Headphone.png);
    background-repeat: no-repeat;
    background-position: right;
  }