.body-confirm-container {
    display: flex;
    flex-direction: column;
    background-color: #f9f8fe;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 50px;
    height: auto;
    justify-content: space-between;
    font-family: 'inter', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.4em solid #ddd;
    border-top: 0.4em solid #007bff;
    border-radius: 50%;
    animation: spin 0.75s linear infinite;
  }

.title-page-confirm {
    width: 80%;
}

.div-forms-and-resume {
    margin-top: 5vh;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.forms-page-confirm {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240vh;
}

.div-form-my-info {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    padding: 20px;
    gap: 5px;
    border-radius: 10px;
}

.div-form-my-adress {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    padding: 20px;
    gap: 5px;
    border-radius: 10px;
}

.div-form-my-paymant-info {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    padding: 20px;
    gap: 5px;
    border-radius: 10px;
}

.title-my-info-page-confirm {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid;
    border-bottom-color: #CCCCCC;
    padding: 15px;
}

.inputs-form-page-confirm {
    height: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.radios {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.radio-type {
    display: flex;
    justify-content: space-between;
}

.form-confirm-btn {
    background-color: rgba(246, 170, 28, 1);
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.resume{
    width: 400px;
}