.btnCategoriesHome {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.btnCategoriesHome:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btnCategoriesHome img {
    transition: filter 0.3s ease;
}

.btnCategoriesHome:hover img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(44%) saturate(380%) hue-rotate(300deg) brightness(95%) contrast(85%);
}

.featuredCollections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}