.sneakers {
  display: flex;
  position: relative;
}

.sneaker-left,
.sneaker-right {
  object-fit: cover;
  height: 70vh;
}

.sneaker-left {
  position: absolute;
  top: -10vh;
  left: -15vw;
}

.sneaker-right {
  position: relative;
  top: 10vh;
}

/* Smartphones 375px */
@media (max-width: 375px) {
  .sneakers{
    display: none;
  }
} 

/* Smartphones 425px */
@media (max-width: 425px) {
  .sneakers{
    display: none;
  } 
}
