*{
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

.header-top {
  display: flex;
  width: 100%;
}

.divFilho1Header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.divFilho2Header {
  margin-left: 58px;
}

.divInputSearchHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 599px;
}

.headerSearchInput {
  outline: none;
  box-shadow: none;
  cursor: pointer;
  width: 559px;
  height: 60px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  color: rgba(71, 71, 71, 1);
  background-color: rgb(248, 248, 248);
  padding-left: 20px;
}

.searchButton {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  color: rgba(71, 71, 71, 1);
  height: 60px;
  width: 40px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.linkRegister {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(71, 71, 71, 1);
}

.linkRegister:hover{
  color: #c92071;
  cursor: pointer;
}

.loginButton {
  text-decoration: none;
  width: 114px;
  height: 40px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  color: white !important;
  background-color: rgba(201, 32, 113, 1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buyButton {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: rgba(201, 32, 113, 1);
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.navbarHeader {
  font-size: 1rem;
  font-family: "inter", sans-serif;
  font-weight: 200;
  justify-content: space-around;
  display: flex;
  width: 423px;
  height: 29px;
  align-items: center;
  text-align: center;
}

.aLinkNavbar {
  text-decoration: none;
  color: rgba(71, 71, 71, 1);
}

.linkNavbarHeader {
  color: rgba(71, 71, 71, 1);
  font-family: "inter", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.linkNavbarHeader:hover {
  color: #c92071;
  font-family: "inter", sans-serif;
  font-weight: 600;
  border-bottom: 2px solid #c92071;
  cursor: pointer;
}