*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  height: 160px;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top {
  display: flex;
  width: 100%;
}

.divFilho1Header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  text-align: center;
}

.divFilho2Header {
  width: 90%;
  margin-top: 1rem;
}

.divInputSearchHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 80%;
}

.headerSearchInput {
  outline: none;
  box-shadow: none;
  width: 90%;
  height: 60px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  color: rgba(71, 71, 71, 1);
  background-color: rgb(248, 248, 248);
  padding-left: 20px;
}

.searchButton {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  color: rgba(71, 71, 71, 1);
  height: 60px;
  width: 40px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.linkRegister {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(71, 71, 71, 1);
  min-width: max-content;
}

.linkRegister:hover{
  color: #c92071;
  cursor: pointer;
}

.loginButton {
  text-decoration: none;
  width: 114px;
  height: 40px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  color: white !important;
  background-color: rgba(201, 32, 113, 1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buyButton {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: rgba(201, 32, 113, 1);
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.navbarHeader {
  font-size: 1rem;
  font-family: "inter", sans-serif;
  font-weight: 200;
  display: flex;
  gap: 1rem;
  width: 423px;
  height: 29px;
  align-items: center;
}

.menu-header{
  display: flex;
  gap: 24px;
}

.LinkNavbar {
  list-style: none;
  text-decoration: none;
  color: rgba(71, 71, 71, 1);
  
}

.linkNavbarHeader {
  color: rgba(71, 71, 71, 1);
  font-family: "inter", sans-serif;
  text-decoration: none;
  padding: 5px 0;
}

.linkNavbarHeader:hover {
  color: #c92071;
  font-family: "inter", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  border-bottom: 2px solid #c92071;
}