*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: #1F1F1F;
    font-family: 'inter', sans-serif;
    color: #fff;
    padding: 5rem 0 0 0;
}

.footer-container{
    width: 90%;
    margin: auto;
}

.footer-content{
    display: flex;
}

.footer-content h3{
    margin-bottom: 2.5rem;
}

.footer-content ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-content li{
    list-style: none;
}

.footer-content .link-footer{
    text-decoration: none;
    color: #fff;
}

.first-section-footer{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.first-section-footer p{
    width: 70%;
}

.first-section-footer .social{
    display: flex;
    gap: 1rem;
    align-items: center;
}


.second-section-footer,
.third-section-footer,
.fourth-section-footer{
    flex: 1;
}

.rights{
    margin-top: 3rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
}


@media (min-width: 320px) and (max-width: 480px) {
    .footer-content{
        display: inline;
    }

    .second-section-footer,
    .third-section-footer,
    .fourth-section-footer{
    display: inline-block;
    }

    .third-section-footer{
        margin: 3rem;
    }

    .fourth-section-footer{
        margin-top: 3rem;
    }
  }

